# Database MongoDB Url
MONGOS_URI=
# Kafka transporter if using microservice
KAFKA=
# Initial Number for config Generate Number
INITIAL_NUMBER=
INITIAL_NUMBER_PO=
# Key Bug
BUGSNAG=
# Port If using monolithic
PORT=